
<h2>Task: <%= @chore.task %> <a href="/chores/<%= @chore.id %>/edit">[EDIT task]</a></h2>
<h3>Name: <%= @chore.occupant.name %></h3>

<h4>Description: <%= @chore.description %><h4>
  <div class="buttons">
  <button><%= link_to "BACK to Household Members", occupants_path %></button>
  </div>
