<!DOCTYPE html>
<html>
  <head>
    <title>ChoreGanizer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="intro">
    <h1><%= link_to "The Chore-ganizer", occupants_path %> </h1>
    <h2>Organize Your Household Chores!</h2>
  </div>
    <%= yield %>
  </body>
</html>
